<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqDtwyjFKKe97qkf6Lg2B7r-zGhBdKxIU</string>
	<key>GCM_SENDER_ID</key>
	<string>685621055070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>CLIENT_ID</key>
	<string>685621055070-fhsch1qadpfie5smorq89b4cmnu6qpbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685621055070-fhsch1qadpfie5smorq89b4cmnu6qpbl</string>
	<key>BUNDLE_ID</key>
	<string>com.potatoes.TZSarafan2025-09-03</string>
	<key>PROJECT_ID</key>
	<string>tzsarafan2025-09-03</string>
	<key>STORAGE_BUCKET</key>
	<string>tzsarafan2025-09-03.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:685621055070:ios:666d4741f926316d2d2ecf</string>
</dict>
</plist>
